<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="ns" default="r0"/>

    <gazebo>
        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <right_joint>$(arg ns)/right_wheel_joint</right_joint>
            <left_joint>$(arg ns)/left_wheel_joint</left_joint>
            <wheel_separation>0.35</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
            <max_linear_acceleration>10</max_linear_acceleration>
            <topic>$(arg ns)/cmd_vel</topic>
        </plugin>

        <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
            <odom_frame>$(arg ns)/odom</odom_frame>
            <robot_base_frame>$(arg ns)/base_link</robot_base_frame>
            <odom_publish_frequency>50</odom_publish_frequency>
            <odom_topic>$(arg ns)/odom</odom_topic>
            <tf_topic>$(arg ns)/tf</tf_topic>
            <dimensions>2</dimensions>
        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
            <topic>$(arg ns)/joint_states</topic>
            <joint_name>$(arg ns)/right_wheel_joint</joint_name>
            <joint_name>$(arg ns)/left_wheel_joint</joint_name>
        </plugin>
    </gazebo>

    <!-- LiDAR (PointCloud2) -->
    <gazebo reference="$(arg ns)/laser_frame">
        <sensor type="gpu_ray" name="lidar_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10.0</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>1800</samples>
                        <resolution>1.0</resolution>
                        <min_angle>-3.14159</min_angle>
                        <max_angle>3.14159</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>16</samples>
                        <resolution>2.0</resolution>
                        <min_angle>-0.2793</min_angle>
                        <max_angle>0.2443</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.2</min>
                    <max>30.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.008</stddev>
                </noise>
                <output_type>point_cloud</output_type>
            </ray>
            <topic>$(arg ns)/pointcloud</topic>
            <frame_name>$(arg ns)/laser_frame</frame_name>
        </sensor>
    </gazebo>
</robot>