[submodule "src/cslam_interfaces"]
	path = src/cslam_interfaces
	url = git@github.com:Danielnotuser/cslam_interfaces-fork.git
[submodule "src/cslam_visualization"]
	path = src/cslam_visualization
	url = git@github.com:Danielnotuser/cslam_visualization-fork.git
[submodule "src/cslam_experiments"]
	path = src/cslam_experiments
	url = git@github.com:Danielnotuser/cslam_experiments-fork.git
[submodule "src/cslam"]
	path = src/cslam
	url = git@github.com:Danielnotuser/cslam-fork.git
[submodule "src/darp/src"]
	path = src/darp_areas/src
	url = git@github.com:Danielnotuser/darp.git
